/* TEAMLEADER gombok új elrendezése */
.tl-bg .button-container {
    position: absolute;
    top: 34%;              /* lejjebb, mint eddig */
    left: 50%;
    transform: translateX(-50%);
    width: 60%;            /* kicsit szélesebb, mint a főoldalon */
    display: flex;
    flex-direction: column;
    gap: 22px;             /* nagyobb távolság a gombok között */
}
